.home-icon {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 150px;
  height: auto;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
